In [ ]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('train.csv')

In [ ]:
df.drop(axis=1, columns=['id'], inplace=True)

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
bin_df = df[['bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4']]
nom_df = df[['nom_0', 'nom_1', 'nom_2', 'nom_3', 'nom_4', 'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9']]
ord_df = df[['ord_0', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5']]
date_df = df[['month', 'day']]

In [ ]:
bin_df.isnull().values.any()

In [ ]:
nom_df.isnull().values.any()

In [ ]:
ord_df.isnull().values.any()

In [ ]:
date_df.isnull().values.any()

# BIN DF

In [ ]:
bin_df['bin_0'].value_counts()

In [ ]:
bin_df['bin_1'].value_counts()

In [ ]:
bin_df['bin_2'].value_counts()

In [ ]:
bin_df['bin_3'].value_counts()

In [ ]:
bin_df['bin_4'].value_counts()

In [ ]:
bin_df = pd.get_dummies(data=bin_df , columns=['bin_3', 'bin_4'], drop_first=True)

In [ ]:
bin_df.head()

# Nom DF

In [ ]:
nom_df.head()

In [ ]:
print(nom_df['nom_0'].value_counts())
print(nom_df['nom_1'].value_counts())
print(nom_df['nom_2'].value_counts())
print(nom_df['nom_3'].value_counts())
print(nom_df['nom_4'].value_counts())

In [ ]:
print(nom_df['nom_5'].value_counts())
print(nom_df['nom_6'].value_counts())
print(nom_df['nom_7'].value_counts())
print(nom_df['nom_8'].value_counts())
print(nom_df['nom_9'].value_counts())

In [ ]:
nom_df.drop(axis=1, inplace=True, columns=['nom_5','nom_6','nom_7','nom_8','nom_9'])

In [ ]:
nom_df.head()

In [ ]:
nom_0 = nom_df.groupby('nom_0')['nom_0'].count()
dict_nom_0 = {}
for i in nom_0.index:
    dict_nom_0[i] = nom_0[i]

nom_df.nom_0 = nom_df['nom_0'].map(dict_nom_0)

In [ ]:
nom_1 = nom_df.groupby('nom_1')['nom_1'].count()
dict_nom_1 = {}
for i in nom_1.index:
    dict_nom_1[i] = nom_1[i]
nom_df.nom_1 = nom_df['nom_1'].map(dict_nom_1)

In [ ]:
nom_2 = nom_df.groupby('nom_2')['nom_2'].count()
dict_nom_2 = {}
for i in nom_2.index:
    dict_nom_2[i] = nom_2[i]
nom_df.nom_2 = nom_df['nom_2'].map(dict_nom_2)

In [ ]:
nom_3 = nom_df.groupby('nom_3')['nom_3'].count()

dict_nom_3 = {}
for i in nom_3.index:
    dict_nom_3[i] = nom_3[i]
nom_df.nom_3 = nom_df['nom_3'].map(dict_nom_3)

In [ ]:
nom_4 = nom_df.groupby('nom_4')['nom_4'].count()

dict_nom_4 = {}
for i in nom_4.index:
    dict_nom_4[i] = nom_4[i]
nom_df.nom_4 = nom_df['nom_4'].map(dict_nom_4)

In [ ]:
nom_df.head()

# ORD DF

In [ ]:
print(ord_df['ord_0'].value_counts())
print(ord_df['ord_1'].value_counts())
print(ord_df['ord_2'].value_counts())
print(ord_df['ord_3'].value_counts())
print(ord_df['ord_4'].value_counts())
print(ord_df['ord_5'].value_counts())

In [ ]:
dict_ord_0 = {
    1: 2,
    2: 1,
    3: 0
}
ord_df.ord_0 = ord_df['ord_0'].map(dict_ord_0)

In [ ]:
ord_1 = ord_df.groupby('ord_1')['ord_1'].count()
dict_ord_1 = {}
for i in ord_1.index:
    dict_ord_1[i] = ord_1[i]
dict_ord_1

In [ ]:
ord_df.ord_1 = ord_df['ord_1'].map(dict_ord_1)

In [ ]:
ord_2 = ord_df.groupby('ord_2')['ord_2'].count()
dict_ord_2 = {}
for i in ord_2.index:
    dict_ord_2[i] = ord_2[i]
dict_ord_2

In [ ]:
ord_df.ord_2 = ord_df['ord_2'].map(dict_ord_2)

In [ ]:
ord_3 = ord_df.groupby('ord_3')['ord_3'].count()

dict_ord_3 = {}
for i in ord_3.index:
    dict_ord_3[i] = ord_3[i]
dict_ord_3

In [ ]:
ord_df.ord_3 = ord_df['ord_3'].map(dict_ord_3)

In [ ]:
ord_4 = ord_df.groupby('ord_4')['ord_4'].count()

dict_ord_4 = {}
for i in ord_4.index:
    dict_ord_4[i] = ord_4[i]
dict_ord_4

In [ ]:
ord_df.ord_4 = ord_df['ord_4'].map(dict_ord_4)

In [ ]:
ord_5 = ord_df.groupby('ord_5')['ord_5'].count()
dict_ord_5 = {}
for i in ord_5.index:
    dict_ord_5[i] = ord_5[i]
dict_ord_5

In [ ]:
ord_df.ord_5 = ord_df['ord_5'].map(dict_ord_5)

In [ ]:
ord_df.head()

# Final DF

In [ ]:
date_df.head()

In [ ]:
bin_df.head()

In [ ]:
nom_df.head()

In [ ]:
ord_df.head()

In [ ]:
final_df = pd.concat([bin_df, nom_df, ord_df, date_df, df.target], axis=1)

In [ ]:
final_df.head()

In [ ]:
final_df.bin_3_T = final_df.bin_3_T.astype(dtype='int64')
final_df.bin_4_Y = final_df.bin_4_Y.astype(dtype='int64')

In [ ]:
final_df.info()

In [ ]:
plt.figure(figsize=(20,20), dpi=300)
sns.heatmap(data=final_df.corr(), cmap=plt.cm.cividis_r, annot=True)

# Model Building

In [ ]:
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier

In [ ]:
X = final_df.drop(columns=['target'], axis=1)
y= final_df.target

In [ ]:
scaler = StandardScaler()

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=10)

In [ ]:
scaler = StandardScaler()

In [ ]:
sc = scaler.fit(x_train)

In [ ]:
x_train_scaled = sc.transform(x_train)

In [ ]:
x_test_scaled = sc.transform(x_test)

In [ ]:
gamma = [0.1,0.2,0.3,0.4,0.5]
learning_rate = [0.1,0.2,0.3,0.4,0.5,0.6]

In [ ]:
xgb = XGBClassifier()

In [ ]:
random = RandomizedSearchCV(estimator=xgb, param_distributions={'gamma':[0.1,0.2,0.3,0.4,0.5],
                                                                'learning_rate':[0.1,0.2,0.3,0.4,0.5,0.6]},
                           n_jobs=-1, n_iter=10, cv=3)

In [ ]:
random.fit(x_train_scaled, y_train)

In [ ]:
random.best_estimator_

In [201]:
xgb = XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0.2, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.21, max_delta_step=0,
              max_depth=9, min_child_weight=1, missing=np.nan,
              monotone_constraints='()', n_estimators=300, n_jobs=-1,
              num_parallel_tree=5, predictor='auto', random_state=20,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [202]:
xgb.fit(x_train_scaled, y_train)

/Users/gautam/Desktop/ML/lib/python3.7/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[01:31:15] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0.2, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.21, max_delta_step=0,
              max_depth=9, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=300, n_jobs=-1,
              num_parallel_tree=5, predictor='auto', random_state=20,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [203]:
y_pred = xgb.predict(x_test_scaled)

In [204]:
y_pred

array([1, 1, 0, ..., 1, 1, 0])

In [205]:
accuracy_score(y_test, y_pred)

0.7261

In [206]:
print(confusion_matrix(y_test, y_pred))

[[18223  2605]
 [ 5612  3560]]

In [ ]:
rfc = RandomForestClassifier(random_state=10)

In [ ]:
rfc.fit(x_train_scaled, y_train)

In [ ]:
y_pred_rfc = rfc.predict(x_test)

In [ ]:
accuracy_score(y_pred_rfc, y_test)

In [ ]:
lr = LogisticRegression()

In [ ]:
lr.fit(x_train_scaled, y_train)

In [ ]:
y_pred_lr = lr.predict(x_test_scaled)

In [ ]:
y_pred_lr

In [ ]:
accuracy_score(y_test, y_pred_lr)

# Kaggle submission

In [160]:
test_df = pd.read_csv('test.csv')

In [161]:
ids = test_df.id

In [162]:
test_df.drop(columns=['id'], axis=1, inplace=True)

In [163]:
test_df.head()

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
0,0,0,1,T,Y,Blue,Triangle,Axolotl,Finland,Piano,...,9d117320c,3c49b42b8,2,Novice,Warm,j,P,be,5,11
1,0,0,0,T,N,Red,Square,Lion,Canada,Piano,...,46ae3059c,285771075,1,Master,Lava Hot,l,A,RP,7,5
2,1,0,1,F,Y,Blue,Square,Dog,China,Piano,...,b759e21f0,6f323c53f,2,Expert,Freezing,a,G,tP,1,12
3,0,0,1,T,Y,Red,Star,Cat,China,Piano,...,0b6ec68ff,b5de3dcc4,1,Contributor,Lava Hot,b,Q,ke,2,3
4,0,1,1,F,N,Red,Trapezoid,Dog,China,Piano,...,f91f3b1ee,967cfa9c9,3,Grandmaster,Lava Hot,l,W,qK,4,11

In [164]:
bin_df = test_df[['bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4']]
nom_df = test_df[['nom_0', 'nom_1', 'nom_2', 'nom_3', 'nom_4', 'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9']]
ord_df = test_df[['ord_0', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5']]
date_df = test_df[['month', 'day']]

In [165]:
bin_df = pd.get_dummies(data=bin_df , columns=['bin_3', 'bin_4'], drop_first=True)

In [166]:
bin_df.isnull().values.any()

False

In [167]:
bin_df.head()

   bin_0  bin_1  bin_2  bin_3_T  bin_4_Y
0      0      0      1        1        1
1      0      0      0        1        0
2      1      0      1        0        1
3      0      0      1        1        1
4      0      1      1        0        0

# Nom DF

In [168]:
nom_df.head()

,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9
0,Blue,Triangle,Axolotl,Finland,Piano,0870b0a5d,9ceb19dd6,530f8ecc3,9d117320c,3c49b42b8
1,Red,Square,Lion,Canada,Piano,a5c276589,1ad744242,12e6161c9,46ae3059c,285771075
2,Blue,Square,Dog,China,Piano,568550f04,1fe17a1fd,27d6df03f,b759e21f0,6f323c53f
3,Red,Star,Cat,China,Piano,c5725677e,a6542cec0,30c63bd0c,0b6ec68ff,b5de3dcc4
4,Red,Trapezoid,Dog,China,Piano,e70a6270d,97b6a3518,a42386065,f91f3b1ee,967cfa9c9

In [169]:
nom_df.drop(axis=1, inplace=True, columns=['nom_5','nom_6','nom_7','nom_8','nom_9'])

/Users/gautam/Desktop/ML/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [170]:
nom_0 = nom_df.groupby('nom_0')['nom_0'].count()
dict_nom_0 = {}
for i in nom_0.index:
    dict_nom_0[i] = nom_0[i]

nom_df.nom_0 = nom_df['nom_0'].map(dict_nom_0)

/Users/gautam/Desktop/ML/lib/python3.7/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [171]:
nom_1 = nom_df.groupby('nom_1')['nom_1'].count()
dict_nom_1 = {}
for i in nom_1.index:
    dict_nom_1[i] = nom_1[i]
nom_df.nom_1 = nom_df['nom_1'].map(dict_nom_1)

In [172]:
nom_2 = nom_df.groupby('nom_2')['nom_2'].count()
dict_nom_2 = {}
for i in nom_2.index:
    dict_nom_2[i] = nom_2[i]
nom_df.nom_2 = nom_df['nom_2'].map(dict_nom_2)

In [173]:
nom_3 = nom_df.groupby('nom_3')['nom_3'].count()

dict_nom_3 = {}
for i in nom_3.index:
    dict_nom_3[i] = nom_3[i]
nom_df.nom_3 = nom_df['nom_3'].map(dict_nom_3)

In [174]:
nom_4 = nom_df.groupby('nom_4')['nom_4'].count()

dict_nom_4 = {}
for i in nom_4.index:
    dict_nom_4[i] = nom_4[i]
nom_df.nom_4 = nom_df['nom_4'].map(dict_nom_4)

In [175]:
nom_df.head()

   nom_0  nom_1  nom_2  nom_3  nom_4
0  63762  19835  23767  25028  56491
1  51083  33036  67665  33035  56491
2  63762  33036  24922  30552  56491
3  51083  30772  33230  30552  56491
4  51083  67250  24922  30552  56491

# ORD DF

In [176]:
dict_ord_0 = {
    1: 2,
    2: 1,
    3: 0
}
ord_df.ord_0 = ord_df['ord_0'].map(dict_ord_0)

/Users/gautam/Desktop/ML/lib/python3.7/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [177]:
ord_1 = ord_df.groupby('ord_1')['ord_1'].count()
dict_ord_1 = {}
for i in ord_1.index:
    dict_ord_1[i] = ord_1[i]
dict_ord_1

{'Contributor': 28645,
 'Expert': 16644,
 'Grandmaster': 51715,
 'Master': 18702,
 'Novice': 84294}

In [178]:
ord_df.ord_1 = ord_df['ord_1'].map(dict_ord_1)

In [179]:
ord_2 = ord_df.groupby('ord_2')['ord_2'].count()
dict_ord_2 = {}
for i in ord_2.index:
    dict_ord_2[i] = ord_2[i]
dict_ord_2

{'Boiling Hot': 40636,
 'Cold': 22666,
 'Freezing': 66249,
 'Hot': 14517,
 'Lava Hot': 42741,
 'Warm': 13191}

In [180]:
ord_df.ord_2 = ord_df['ord_2'].map(dict_ord_2)

In [181]:
ord_3 = ord_df.groupby('ord_3')['ord_3'].count()

dict_ord_3 = {}
for i in ord_3.index:
    dict_ord_3[i] = ord_3[i]
dict_ord_3

{'a': 23384,
 'b': 7968,
 'c': 4627,
 'd': 5172,
 'e': 14303,
 'f': 14755,
 'g': 24303,
 'h': 16520,
 'i': 18968,
 'j': 16482,
 'k': 18685,
 'l': 24233,
 'm': 223,
 'n': 2687,
 'o': 7690}

In [182]:
ord_df.ord_3 = ord_df['ord_3'].map(dict_ord_3)

In [183]:
ord_4 = ord_df.groupby('ord_4')['ord_4'].count()

dict_ord_4 = {}
for i in ord_4.index:
    dict_ord_4[i] = ord_4[i]
dict_ord_4

{'A': 12314,
 'B': 4168,
 'C': 2504,
 'D': 2592,
 'E': 7244,
 'F': 7754,
 'G': 12633,
 'H': 8452,
 'I': 9588,
 'J': 8699,
 'K': 9790,
 'L': 12500,
 'M': 110,
 'N': 1438,
 'O': 3871,
 'P': 8597,
 'Q': 10622,
 'R': 11367,
 'S': 12898,
 'T': 9428,
 'U': 8520,
 'V': 9383,
 'W': 5986,
 'X': 4239,
 'Y': 5698,
 'Z': 9605}

In [184]:
ord_df.ord_4 = ord_df['ord_4'].map(dict_ord_4)

In [185]:
ord_5 = ord_df.groupby('ord_5')['ord_5'].count()
dict_ord_5 = {}
for i in ord_5.index:
    dict_ord_5[i] = ord_5[i]
dict_ord_5

{'AP': 1800,
 'Ai': 624,
 'Aj': 339,
 'BA': 364,
 'BE': 1067,
 'Bb': 1121,
 'Bd': 1832,
 'Bn': 1266,
 'CL': 1424,
 'CM': 1254,
 'CU': 1388,
 'CZ': 1740,
 'Cl': 18,
 'DH': 190,
 'DN': 538,
 'Dc': 1187,
 'Dx': 1476,
 'Ed': 1649,
 'Eg': 1775,
 'Er': 1357,
 'FI': 1196,
 'Fd': 1357,
 'Fo': 1486,
 'GD': 799,
 'GJ': 1483,
 'Gb': 1896,
 'Gx': 1259,
 'Hj': 1502,
 'IK': 310,
 'Id': 52,
 'JX': 1552,
 'Jc': 1703,
 'Jf': 44,
 'Jt': 881,
 'KR': 1020,
 'KZ': 1161,
 'Kf': 88,
 'Kq': 1665,
 'LE': 1353,
 'MC': 1547,
 'MO': 927,
 'MV': 1556,
 'Mf': 185,
 'Ml': 422,
 'Mx': 473,
 'NV': 912,
 'Nf': 913,
 'Nk': 1374,
 'OR': 346,
 'Ob': 1020,
 'Os': 319,
 'PA': 1461,
 'PQ': 1723,
 'PZ': 1151,
 'Ps': 294,
 'QM': 968,
 'Qb': 727,
 'Qh': 1625,
 'Qo': 1771,
 'RG': 739,
 'RL': 594,
 'RP': 1052,
 'Rm': 384,
 'Ry': 238,
 'SB': 1315,
 'Sc': 1520,
 'TR': 1095,
 'TZ': 1837,
 'To': 1200,
 'UO': 1705,
 'Uk': 924,
 'Uu': 655,
 'Vf': 1339,
 'Vx': 996,
 'WE': 439,
 'Wc': 444,
 'Wv': 1569,
 'XI': 948,
 'Xh': 1774,
 'Xi': 1720,
 'YC': 983,
 'Yb': 441,
 'Ye': 1347,
 'ZR': 689,
 'ZS': 1024,
 'Zc': 421,
 'Zq': 1956,
 'aF': 608,
 'aM': 1520,
 'aO': 1439,
 'aP': 1566,
 'ac': 1849,
 'av': 199,
 'bF': 1662,
 'bJ': 663,
 'be': 1561,
 'cA': 1666,
 'cG': 81,
 'cW': 341,
 'ck': 544,
 'cp': 1206,
 'dB': 161,
 'dE': 277,
 'dN': 1039,
 'dO': 1306,
 'dP': 1636,
 'dQ': 1217,
 'dZ': 1128,
 'dh': 1402,
 'eG': 489,
 'eQ': 1759,
 'eb': 870,
 'eg': 45,
 'ek': 1797,
 'ex': 1196,
 'fO': 2279,
 'fh': 974,
 'gJ': 1738,
 'gM': 964,
 'hL': 132,
 'hT': 1044,
 'hh': 1174,
 'hp': 1749,
 'iT': 786,
 'ih': 549,
 'jS': 185,
 'jV': 872,
 'je': 858,
 'jp': 60,
 'kC': 1302,
 'kE': 1315,
 'kK': 1396,
 'kL': 805,
 'kU': 30,
 'kW': 1751,
 'ke': 1504,
 'kr': 319,
 'kw': 579,
 'lF': 1141,
 'lL': 710,
 'll': 615,
 'lx': 1646,
 'mb': 563,
 'mc': 1130,
 'mm': 861,
 'nX': 808,
 'nh': 1700,
 'oC': 1297,
 'oG': 563,
 'oH': 120,
 'oK': 382,
 'od': 3435,
 'on': 1769,
 'pa': 113,
 'ps': 1172,
 'qA': 892,
 'qJ': 28,
 'qK': 684,
 'qP': 1922,
 'qX': 1240,
 'qo': 1644,
 'qv': 1472,
 'qw': 738,
 'rZ': 1523,
 'ri': 1705,
 'rp': 498,
 'sD': 1867,
 'sV': 1600,
 'sY': 1353,
 'sn': 676,
 'su': 1669,
 'tM': 1616,
 'tP': 1873,
 'tv': 30,
 'uJ': 634,
 'uS': 1893,
 'ud': 283,
 'us': 357,
 'ut': 1456,
 'ux': 127,
 'uy': 1273,
 'vK': 923,
 'vq': 17,
 'vy': 1433,
 'wu': 1529,
 'wy': 267,
 'xP': 56,
 'xy': 1441,
 'yN': 438,
 'yY': 502,
 'yc': 892,
 'zU': 1554}

In [186]:
ord_df.ord_5 = ord_df['ord_5'].map(dict_ord_5)

In [187]:
ord_df.head()

   ord_0  ord_1  ord_2  ord_3  ord_4  ord_5
0      1  84294  13191  16482   8597   1561
1      2  18702  42741  24233  12314   1052
2      1  16644  66249  23384  12633   1873
3      2  28645  42741   7968  10622   1504
4      0  51715  42741  24233   5986    684

In [188]:
final_df = pd.concat([bin_df, nom_df, ord_df, date_df], axis=1)

In [189]:
final_df.head()

,bin_0,bin_1,bin_2,bin_3_T,bin_4_Y,nom_0,nom_1,nom_2,nom_3,nom_4,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,month,day
0,0,0,1,1,1,63762,19835,23767,25028,56491,1,84294,13191,16482,8597,1561,11,5
1,0,0,0,1,0,51083,33036,67665,33035,56491,2,18702,42741,24233,12314,1052,5,7
2,1,0,1,0,1,63762,33036,24922,30552,56491,1,16644,66249,23384,12633,1873,12,1
3,0,0,1,1,1,51083,30772,33230,30552,56491,2,28645,42741,7968,10622,1504,3,2
4,0,1,1,0,0,51083,67250,24922,30552,56491,0,51715,42741,24233,5986,684,11,4

In [190]:
x = sc.transform(final_df)

In [191]:
submit = xgb.predict(x)

In [193]:
submit = pd.Series(data=submit)

In [194]:
sub = pd.concat([ids, submit], axis=1)

In [198]:
sub.columns = ['id', 'target']

In [199]:
sub.head()

       id  target
0  300000       1
1  300001       1
2  300002       1
3  300003       0
4  300004       1

In [200]:
sub.to_csv('submit.csv', index=False)